CVA Consultoria/CVA Portal/CVA Portal Gestão/Frontend/Service References/CVAGestaoService/CVAGestaoService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MODEL.Interface" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MODEL.Interface" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12393/CVAGestaoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MODEL.Classes" />
  <xs:complexType name="IModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Insert" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Status" nillable="true" type="q1:StatusModel" />
      <xs:element minOccurs="0" name="Update" type="xs:dateTime" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="User" nillable="true" type="q2:UserModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IModel" nillable="true" type="tns:IModel" />
</xs:schema>