CVA Consultoria/CVA Portal/CVA Portal Gestão/Frontend/Service References/CVAGestaoService/CVAGestaoService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12393/CVAGestaoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MODEL.Classes" />
  <xs:import schemaLocation="http://localhost:12393/CVAGestaoService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="LogIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="LogInResult" nillable="true" type="q1:UserModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="LogOffResult" nillable="true" type="q2:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FirstAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="user" nillable="true" type="q3:UserModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FirstAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="FirstAccessResult" nillable="true" type="q4:UserModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCalendarHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="calendar" nillable="true" type="q5:CalendarModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCalendarHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="SaveCalendarHeaderResult" nillable="true" type="q6:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalendar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalendarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetCalendarResult" nillable="true" type="q7:ArrayOfCalendarModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalendar_ById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="calendarID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalendar_ByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetCalendar_ByIdResult" nillable="true" type="q8:CalendarModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalendarStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CalendarStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="CalendarStatusResult" nillable="true" type="q9:ArrayOfStatusModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="objectId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetStatusResult" nillable="true" type="q10:ArrayOfStatusModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetUserResult" nillable="true" type="q11:UserModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="user" nillable="true" type="q12:UserModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="SaveUserResult" nillable="true" type="q13:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetUserStatusResult" nillable="true" type="q14:ArrayOfStatusModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetUsersResult" nillable="true" type="q15:ArrayOfUserModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser_ByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="user" nillable="true" type="q16:UserModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser_ByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="UpdateUser_ByUserResult" nillable="true" type="q17:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="ProjectStatusResult" nillable="true" type="q18:ArrayOfStatusModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveProjects">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveProjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetActiveProjectsResult" nillable="true" type="q19:ArrayOfProjectModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Remove_Step">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="model" nillable="true" type="q20:StepModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Remove_StepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Remove_StepResult" nillable="true" type="q21:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Filter_Projects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Filter_ProjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Filter_ProjectsResult" nillable="true" type="q22:ArrayOfProjectModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetResult" nillable="true" type="q23:ProjectModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Get_ByUserResult" nillable="true" type="q24:ArrayOfProjectModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Project_GetSteps">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Project_GetStepsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Project_GetStepsResult" nillable="true" type="q25:ArrayOfStepModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCombo_Project">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCombo_ProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="LoadCombo_ProjectResult" nillable="true" type="q26:ArrayOfProjectModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Project_Get_All">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Project_Get_AllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Project_Get_AllResult" nillable="true" type="q27:ArrayOfProjectModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Project_Get_ByClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Project_Get_ByClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Project_Get_ByClientResult" nillable="true" type="q28:ArrayOfProjectModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Project_Get_ByCollaborator">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Project_Get_ByCollaboratorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Project_Get_ByCollaboratorResult" nillable="true" type="q29:ArrayOfProjectModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Project_Get_ByClientAndCollaborator">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idClient" type="xs:int" />
        <xs:element minOccurs="0" name="idCollaborator" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Project_Get_ByClientAndCollaboratorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Project_Get_ByClientAndCollaboratorResult" nillable="true" type="q30:ArrayOfProjectModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Project_Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="model" nillable="true" type="q31:ProjectModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Project_SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Project_SaveResult" nillable="true" type="q32:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Project_Generate_Number">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Project_Generate_NumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Project_Generate_NumberResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Project_Get_StatusReportParcial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Project_Get_StatusReportParcialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Project_Get_StatusReportParcialResult" nillable="true" type="q33:ProjectModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSpecialty">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="specialty" nillable="true" type="q34:SpecialtyModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSpecialtyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="SaveSpecialtyResult" nillable="true" type="q35:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpecialtyStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SpecialtyStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="SpecialtyStatusResult" nillable="true" type="q36:ArrayOfStatusModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialtys">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialtysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetSpecialtysResult" nillable="true" type="q37:ArrayOfSpecialtyModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialtyByColaborator">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="collaborator" nillable="true" type="q38:CollaboratorModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialtyByColaboratorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetSpecialtyByColaboratorResult" nillable="true" type="q39:ArrayOfSpecialtyModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialty_ByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="specialtyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialty_ByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetSpecialty_ByIDResult" nillable="true" type="q40:SpecialtyModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Specialty_Get_All">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Specialty_Get_AllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Specialty_Get_AllResult" nillable="true" type="q41:ArrayOfSpecialtyModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Specialty_Get_TiposEspecialidade">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Specialty_Get_TiposEspecialidadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Specialty_Get_TiposEspecialidadeResult" nillable="true" type="q42:ArrayOfSpecialtyTypeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Collaborator_Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Collaborator_GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Collaborator_GetResult" nillable="true" type="q43:CollaboratorModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Collaborator_Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="model" nillable="true" type="q44:CollaboratorModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Collaborator_InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Collaborator_InsertResult" nillable="true" type="q45:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Collaborator_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="model" nillable="true" type="q46:CollaboratorModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Collaborator_UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Collaborator_UpdateResult" nillable="true" type="q47:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Collaborator_Remove_Specialty">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="model" nillable="true" type="q48:SpecialtyModel" />
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Collaborator_Remove_SpecialtyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Collaborator_Remove_SpecialtyResult" nillable="true" type="q49:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportarDadosColaborador">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportarDadosColaboradorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="ImportarDadosColaboradorResult" nillable="true" type="q50:CollaboratorModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollaboratorStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CollaboratorStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="CollaboratorStatusResult" nillable="true" type="q51:ArrayOfStatusModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollaborator">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollaboratorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetCollaboratorResult" nillable="true" type="q52:ArrayOfCollaboratorModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCombo_Collaborator">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCombo_CollaboratorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="LoadCombo_CollaboratorResult" nillable="true" type="q53:ArrayOfCollaboratorModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Collaborator_Get_NotUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Collaborator_Get_NotUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Collaborator_Get_NotUserResult" nillable="true" type="q54:ArrayOfCollaboratorModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Collaborator_Get_Specialties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Collaborator_Get_SpecialtiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Collaborator_Get_SpecialtiesResult" nillable="true" type="q55:ArrayOfSpecialtyModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPMs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPMsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetPMsResult" nillable="true" type="q56:ArrayOfCollaboratorModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Collaborator_Get_Active">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Collaborator_Get_ActiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Collaborator_Get_ActiveResult" nillable="true" type="q57:ArrayOfCollaboratorModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollaboratorTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollaboratorTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetCollaboratorTypesResult" nillable="true" type="q58:ArrayOfCollaboratorTypeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollaboratorFromSpecialty">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="specialty" nillable="true" type="q59:SpecialtyModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollaboratorFromSpecialtyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="CollaboratorFromSpecialtyResult" nillable="true" type="q60:ArrayOfCollaboratorModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_CollaboratorBySpecialty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_CollaboratorBySpecialtyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Get_CollaboratorBySpecialtyResult" nillable="true" type="q61:ArrayOfCollaboratorModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollaboratorById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="collaboratorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollaboratorByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetCollaboratorByIdResult" nillable="true" type="q62:CollaboratorModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollaboratorNotUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollaboratorNotUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetCollaboratorNotUserResult" nillable="true" type="q63:ArrayOfCollaboratorModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialtiesForCollaborator">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialtiesForCollaboratorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetSpecialtiesForCollaboratorResult" nillable="true" type="q64:ArrayOfSpecialtyModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollaboratorByFilters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cpf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cnpj" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sector" type="xs:int" />
        <xs:element minOccurs="0" name="specialty" type="xs:int" />
        <xs:element minOccurs="0" name="status" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollaboratorByFiltersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetCollaboratorByFiltersResult" nillable="true" type="q65:ArrayOfCollaboratorModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenre">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetGenreResult" nillable="true" type="q66:ArrayOfGenreModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaritalStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaritalStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetMaritalStatusResult" nillable="true" type="q67:ArrayOfMaritalStatusModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUf">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUfResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetUfResult" nillable="true" type="q68:ArrayOfUfModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="client" nillable="true" type="q69:ClientModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="SaveClientResult" nillable="true" type="q70:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetClientStatusResult" nillable="true" type="q71:ArrayOfStatusModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCombo_Client">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCombo_ClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="LoadCombo_ClientResult" nillable="true" type="q72:ArrayOfClientModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Client_Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Client_SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Client_SearchResult" nillable="true" type="q73:ArrayOfClientModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientContacts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientContactsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetClientContactsResult" nillable="true" type="q74:ArrayOfContactModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientBy_ID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientBy_IDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetClientBy_IDResult" nillable="true" type="q75:ClientModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Expense_Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="model" nillable="true" type="q76:ExpenseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Expense_SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Expense_SaveResult" nillable="true" type="q77:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpense_ByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpense_ByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetExpense_ByUserIDResult" nillable="true" type="q78:ArrayOfExpenseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Expense_Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Expense_GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Expense_GetResult" nillable="true" type="q79:ExpenseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Expense_Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="col" type="xs:int" />
        <xs:element minOccurs="0" name="cli" type="xs:int" />
        <xs:element minOccurs="0" name="prj" type="xs:int" />
        <xs:element minOccurs="0" name="de" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Expense_SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Expense_SearchResult" nillable="true" type="q80:ArrayOfExpenseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Expense_Remove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Expense_RemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Expense_RemoveResult" nillable="true" type="q81:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProjectStep">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="projectStep" nillable="true" type="q82:ProjectStepModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProjectStepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="SaveProjectStepResult" nillable="true" type="q83:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectStep">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isProject" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectStepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetProjectStepResult" nillable="true" type="q84:ArrayOfProjectStepModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectStepStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectStepStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetProjectStepStatusResult" nillable="true" type="q85:ArrayOfStatusModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ProjectSteps">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ProjectStepsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Get_ProjectStepsResult" nillable="true" type="q86:ArrayOfStepModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProjectStep">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProjectStepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetAllProjectStepResult" nillable="true" type="q87:ArrayOfProjectStepModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectStep_ByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectStep_ByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetProjectStep_ByIDResult" nillable="true" type="q88:ProjectStepModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOportunitty">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="oportunitty" nillable="true" type="q89:OpportunityModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOportunittyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="SaveOportunittyResult" nillable="true" type="q90:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertOportunittyToProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="oportunitty" nillable="true" type="q91:OpportunityModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertOportunittyToProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="ConvertOportunittyToProjectResult" nillable="true" type="q92:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpportunities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpportunitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetOpportunitiesResult" nillable="true" type="q93:ArrayOfOpportunityModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOportunittyById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOportunittyByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetOportunittyByIdResult" nillable="true" type="q94:OpportunityModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Oportunitty_GetSteps">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Oportunitty_GetStepsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Oportunitty_GetStepsResult" nillable="true" type="q95:ArrayOfStepModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="SearchResult" nillable="true" type="q96:ArrayOfOpportunityModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewCodeGenerator">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NewCodeGeneratorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewCodeGeneratorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="note" nillable="true" type="q97:NoteModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="SaveResult" nillable="true" type="q98:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Note_Remove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Note_RemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Note_RemoveResult" nillable="true" type="q99:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_UserNotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_UserNotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Get_UserNotesResult" nillable="true" type="q100:ArrayOfNoteModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Note_Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="model" nillable="true" type="q101:NoteFilterModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Note_SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Note_SearchResult" nillable="true" type="q102:ArrayOfNoteModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorizedHours">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorizedHoursResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetAuthorizedHoursResult" nillable="true" type="q103:ArrayOfAuthorizedHoursModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorizedHoursByCollaborator">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="collaboratorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorizedHoursByCollaboratorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetAuthorizedHoursByCollaboratorResult" nillable="true" type="q104:ArrayOfAuthorizedHoursModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPercentProject">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPercentProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetPercentProjectResult" nillable="true" type="q105:ArrayOfPercentProjectModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveExpenseType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="expenseType" nillable="true" type="q106:ExpenseTypeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveExpenseTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="SaveExpenseTypeResult" nillable="true" type="q107:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExpenseTypeStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExpenseTypeStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="ExpenseTypeStatusResult" nillable="true" type="q108:ArrayOfStatusModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpenseTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpenseTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetExpenseTypesResult" nillable="true" type="q109:ArrayOfExpenseTypeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllExpenseTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllExpenseTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetAllExpenseTypesResult" nillable="true" type="q110:ArrayOfExpenseTypeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpenseType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpenseTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetExpenseTypeResult" nillable="true" type="q111:ExpenseTypeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPoliticExpenseByProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:int" />
        <xs:element minOccurs="0" name="user" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPoliticExpenseByProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetPoliticExpenseByProjectResult" nillable="true" type="q112:ArrayOfPoliticExpenseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitMeter">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitMeterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetUnitMeterResult" nillable="true" type="q113:ArrayOfUnitMeterModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="profile" nillable="true" type="q114:ProfileModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="SaveProfileResult" nillable="true" type="q115:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProfileGetStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProfileGetStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="ProfileGetStatusResult" nillable="true" type="q116:ArrayOfStatusModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfiles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetProfilesResult" nillable="true" type="q117:ArrayOfProfileModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfile_ByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="profileID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfile_ByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetProfile_ByIDResult" nillable="true" type="q118:ProfileModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserView">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetUserViewResult" nillable="true" type="q119:ArrayOfUserViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenPeriod">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="OpenPeriodResult" nillable="true" type="q120:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSubPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="model" nillable="true" type="q121:SubPeriodModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSubPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="SaveSubPeriodResult" nillable="true" type="q122:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubPeriods">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="colId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="projectId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="dateFrom" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateTo" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubPeriodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetSubPeriodsResult" nillable="true" type="q123:ArrayOfSubPeriodModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStatusSubPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="periodId" type="xs:int" />
        <xs:element minOccurs="0" name="statusId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStatusSubPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="SetStatusSubPeriodResult" nillable="true" type="q124:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStatusSubPeriodList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="periodIdList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="statusId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStatusSubPeriodListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="SetStatusSubPeriodListResult" nillable="true" type="q125:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketsByProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketsByProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="GetTicketsByProjectResult" nillable="true" type="q126:ArrayOfAMSTicketModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="SendEmailResult" nillable="true" type="q127:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectType_Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectType_GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="ProjectType_GetResult" nillable="true" type="q128:ProjectTypeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectType_Get_All">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectType_Get_AllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="ProjectType_Get_AllResult" nillable="true" type="q129:ArrayOfProjectTypeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectType_Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="model" nillable="true" type="q130:ProjectTypeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectType_InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="ProjectType_InsertResult" nillable="true" type="q131:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectType_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="model" nillable="true" type="q132:ProjectTypeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectType_UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="ProjectType_UpdateResult" nillable="true" type="q133:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectType_Remove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectType_RemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="ProjectType_RemoveResult" nillable="true" type="q134:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pricing_Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pricing_GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Pricing_GetResult" nillable="true" type="q135:PricingModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pricing_Get_Info">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pricing_Get_InfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Pricing_Get_InfoResult" nillable="true" type="q136:PricingModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pricing_Get_By_Project">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pricing_Get_By_ProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Pricing_Get_By_ProjectResult" nillable="true" type="q137:PricingModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pricing_Get_By_Opportunitty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pricing_Get_By_OpportunittyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Pricing_Get_By_OpportunittyResult" nillable="true" type="q138:PricingModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pricing_Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="model" nillable="true" type="q139:PricingModel" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pricing_InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Pricing_InsertResult" nillable="true" type="q140:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pricing_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="model" nillable="true" type="q141:PricingModel" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pricing_UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Pricing_UpdateResult" nillable="true" type="q142:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pricing_Opportunitty_Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="model" nillable="true" type="q143:PricingModel" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pricing_Opportunitty_InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Pricing_Opportunitty_InsertResult" nillable="true" type="q144:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pricing_Opportunitty_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="model" nillable="true" type="q145:PricingModel" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pricing_Opportunitty_UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Pricing_Opportunitty_UpdateResult" nillable="true" type="q146:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectParameters_Get_All">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectParameters_Get_AllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="ProjectParameters_Get_AllResult" nillable="true" type="q147:ArrayOfProjectParametersModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectParameters_Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="model" nillable="true" type="q148:ProjectParametersModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectParameters_SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="ProjectParameters_SaveResult" nillable="true" type="q149:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StatusReport_Get_ParcialHours">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="data" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StatusReport_Get_ParcialHoursResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="StatusReport_Get_ParcialHoursResult" nillable="true" type="q150:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StatusReport_Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="model" nillable="true" type="q151:StatusReportModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StatusReport_SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="StatusReport_SaveResult" nillable="true" type="q152:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StatusReport_Get_All">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StatusReport_Get_AllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="StatusReport_Get_AllResult" nillable="true" type="q153:ArrayOfStatusReportModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRequest_Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRequest_GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q154="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="ChangeRequest_GetResult" nillable="true" type="q154:ChangeRequestModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRequest_Get_for_Project">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRequest_Get_for_ProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="ChangeRequest_Get_for_ProjectResult" nillable="true" type="q155:ArrayOfChangeRequestModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRequest_Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="model" nillable="true" type="q156:ChangeRequestModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRequest_SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q157="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="ChangeRequest_SaveResult" nillable="true" type="q157:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_DiasAutorizados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCol" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_DiasAutorizadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q158="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Get_DiasAutorizadosResult" nillable="true" type="q158:ArrayOfAuthorizedDayModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDiaAutorizado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q159="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="model" nillable="true" type="q159:AuthorizedDayModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDiaAutorizadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q160="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="AddDiaAutorizadoResult" nillable="true" type="q160:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveDiaAutorizado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveDiaAutorizadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q161="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="RemoveDiaAutorizadoResult" nillable="true" type="q161:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_HorasAutorizadas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCol" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_HorasAutorizadasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q162="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Get_HorasAutorizadasResult" nillable="true" type="q162:ArrayOfAuthorizedHoursModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHorasAutorizadas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q163="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="model" nillable="true" type="q163:AuthorizedHoursModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHorasAutorizadasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q164="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="AddHorasAutorizadasResult" nillable="true" type="q164:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveHorasAutorizadas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveHorasAutorizadasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q165="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="RemoveHorasAutorizadasResult" nillable="true" type="q165:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_LimiteHoras">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCol" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_LimiteHorasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q166="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="Get_LimiteHorasResult" nillable="true" type="q166:ArrayOfHoursLimitModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLimiteHoras">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q167="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="model" nillable="true" type="q167:HoursLimitModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLimiteHorasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q168="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="AddLimiteHorasResult" nillable="true" type="q168:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveLimiteHoras">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveLimiteHorasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q169="http://schemas.datacontract.org/2004/07/MODEL.Classes" minOccurs="0" name="RemoveLimiteHorasResult" nillable="true" type="q169:MessageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>