Cointer/CVA.App.NFeio/CVA.App.NFeio/Config.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Config">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ApiUrl" type="xs:string" />
        <xs:element maxOccurs="unbounded" name="ExcelSheet">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CompanyId" type="xs:string" />
              <xs:element name="ApiKey" type="xs:string" />
              <xs:element name="CityServiceCode" type="xs:string" />
              <xs:element name="FederalServiceCode" type="xs:string" />
              <xs:element name="CnaeCode" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>